################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/*
/BentleyEventsManager/bin/*
/BentleyEventsManager/obj/*
/BentleyEventsManager/BentleyEventsManager.csproj.user


/BentleyModels/bin/*
/BentleyModels/obj/*
/BentleyModels/BentleyModels.csproj.user